.all{
  min-height: 100vh;
  margin: 0;
  font-size: 16px;
  /*font-family: "Lato", sans-serif;*/
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
  background-image:url('./img/bay-boats-cape-town-cityscape-259447.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100vw;
}

